<mat-toolbar>
    <div class="left-section" *ngIf="searchFormGroup">
      <form class="search-form" [formGroup]="searchFormGroup" #searchForm="ngForm"(ngSubmit)="onChercherClick($event)">
        <mat-form-field *ngIf="showAnneeUniv" appearance="fill" class="form-field" fxFlex>
          <mat-select placeholder="Annee universitaire">
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="showtypestage" appearance="fill" class="form-field" fxFlex>
          <mat-select placeholder="type de stage">
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="showfiliere" appearance="fill" class="form-field" fxFlex>
          <mat-select placeholder="Filiere">
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="showFormField" appearance="fill" class="form-field" fxFlex>
          <input matInput placeholder="Rechercher..." type="text" formControlName="keyword">
        </mat-form-field>
        <button class="wid" mat-raised-button type="submit"	 color="primary" (click)="onChercherClick($event)">{{buttonName}}</button>


      </form>
    </div>

    <div class="right-section">
      <div class="user-info" fxLayout="row" fxLayoutAlign="end center">
        <img src="https://i.ibb.co/VNjn9XK/d73313b8-f0e1-47bc-99c0-be3d77ab8b09.jpg" alt="User Picture" class="user-picture">
        <div class="username ms-2">
          <span class="mt-1">username</span>
          <span class="mb-1">Admin</span>
        </div>
      </div>
    </div>
  </mat-toolbar>
