.left-section {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .search-form {
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 900px;
  }

  .form-field {
    width: 100%;
  }

  .right-section {
    flex: 1;
    display: flex;
    align-items:end ;
    justify-content: end;
  }

  .user-info {
    display: flex;
    align-items: center;
  }

  .user-picture {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-left: 8px;
  }
  .username{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size:15px;
  }
  .form1{
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  .form-field {
    margin-right: 16px; /* Adjust the margin value as needed */
  }
  .wid{
    padding: 15px;
  }
