<app-header  [showfiliere]="false" [showtypestage]="false" [showAnneeUniv]="false"  [buttonName]="'Chercher'" (searchClicked)="handleSearchEtudiants()" ></app-header>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ms-2 me-15">
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let student">{{ student.nom }}</td>
    </ng-container>
  
    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef>Prénom</th>
      <td mat-cell *matCellDef="let student">{{ student.prenom }}</td>
    </ng-container>
  
    <ng-container matColumnDef="codeApogee">
      <th mat-header-cell *matHeaderCellDef>Code Apogee</th>
      <td mat-cell *matCellDef="let student">{{ student.codeApogee }}</td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let student">{{ student.email }}</td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Rapport</th>
      <td mat-cell *matCellDef="let student">
        <a mat-icon-button color="primary" matTooltip="Télécharger" href="https://drive.google.com/file/d/1aCRWNP6zQWEtRjM3Kw6velVn55ghjvHL/view?usp=sharing" target="_blank">
            <mat-icon>file_download</mat-icon>
          </a>
          
                </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
