

  <div class="card-container mt-3">
    <mat-card class="card ms-2 me-2">
        <div class="card-content">
            <div class="card-left">
              <mat-icon class="card-icon">insert_chart</mat-icon>
            </div>
            <div class="card-divider"></div>
            <div class="card-right">
              <div class="card-details">
                <span class="card-number">{{ nombrePartenaires}}</span>
                <span class="card-text">Partenaires</span>
              </div>
            </div>
          </div>
    </mat-card>
    
    <mat-card class="card ms-2 me-2">
        <div class="card-content">
            <div class="card-left">
              <mat-icon class="card-icon">insert_chart</mat-icon>
            </div>
            <div class="card-divider"></div>
            <div class="card-right">
              <div class="card-details">
                <span class="card-number">{{nombreStagesTotal}}</span>
                <span class="card-text">Obtenus Stages</span>
              </div>
            </div>
          </div>
    </mat-card>
    
    <mat-card class="card ms-2 me-2">
        <div class="card-content">
            <div class="card-left">
              <mat-icon class="card-icon">insert_chart</mat-icon>
            </div>
            <div class="card-divider"></div>
            <div class="card-right">
              <div class="card-details">
                <span class="card-number">{{tauxConversion}}%</span>
                <span class="card-text">Préembauchés</span>
              </div>
            </div>
          </div>
    </mat-card>
  </div>
  
  
  