<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-nav-list>
    <div class="sidebar-header">
        <img src="https://i.ibb.co/zR6WMVK/ensetmohamedia-couleur-1200x900-cropped.png" alt="Logo" class="logo">
        <div class="spans">
          <span>Gestion </span>
          <span> Des Stages</span>
        </div>
      </div>

      <div class="mt-3 ms-3">
      <a mat-list-item>
        <div class="horizontal-element">
            <div class="icon"> <mat-icon>dashboard</mat-icon></div>
            <div class="name">Tableau de Bord</div>
          </div>
      </a>
      <a mat-list-item>
        <div class="horizontal-element">
            <div class="icon"> <mat-icon>dashboard</mat-icon></div>
            <div class="name">Etudiant</div>
          </div>
      </a>
      <a mat-list-item>
        <div class="horizontal-element">
            <div class="icon"> <mat-icon>dashboard</mat-icon></div>
            <div class="name">Entreprise</div>
          </div>
      </a>
      <a mat-list-item>
        <div class="horizontal-element">
            <div class="icon"> <mat-icon>dashboard</mat-icon></div>
            <div class="name">Suivi des stages</div>
          </div>
      </a>
      <a routerLink="/rapports" mat-list-item>
        <div class="horizontal-element">
            <div class="icon" > <mat-icon>dashboard</mat-icon></div>
            <div class="name" >Rapports</div>
          </div>
      </a>
    </div>
</mat-nav-list>
