.sidebar-header {
  margin-top: -30px;
    display: flex;
    align-items: center;
    padding: 16px;
  }
  
  .logo {
    width: 110px; /* Adjust the width as needed */
    height: 110px; /* Adjust the height as needed */
    margin-right: 20px; /* Adjust the margin as needed */
  }
  
  .project-name {
    margin: 0;
  }
  .list-item-content {
  display: flex;
  align-items: center;
  align-items: center;
}

.list-item-content mat-icon {
  margin-right: 10px;
  margin-top: 2px; /* Adjust the spacing between icon and text as needed */
}
.horizontal-element {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .horizontal-element .icon {
    margin-right: 10px;
  }
  .spans{
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
 