.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

.form-column {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 20px;
}
.success-message {
  background-color: #c5e7c5;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}
.progress-bar-container {
  width: 100%;
  margin-top: 10px;
}


