.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

.form-column {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 20px;
}
.success-message {
  background-color: #c5e7c5;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}
.progress-bar-container {
  width: 100%;
  margin-top: 10px;
}
.card {
  position: relative;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #999;
}


